<section class="page-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']">Soucial</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/profile']">Profile <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <span class="navbar-text greeting" *ngIf="this.userName" icon="fa fa-fw fa-user">{{Show}}</span>
      <button class="btn btn-dark my-2 my-sm-0" *ngIf="!this.userName" [routerLink]="['/login']">Login</button>
      <button class="btn btn-dark my-2 my-sm-0" *ngIf="this.userName" (click)="logoutConfirm()">Logout</button>
    </div>
  </nav>
  <router-outlet></router-outlet>
    <p-confirmDialog [transitionOptions]="'100ms'" key="logOutConfirmation" header="Logout"
      icon="pi pi-exclamation-triangle"></p-confirmDialog>
</section>