@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/nova/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css'; 
/* You can add global styles to this file, and also import other style files */
.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh; 
    padding: 15rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)),url("/assets/bg-masthead1.jpg");
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("/assets/bg-masthead1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/* Login and registration page styling */

.signup-section{
    /* padding: 15rem 0; */
    /* margin-top:10rem; */
    /* margin-bottom: 5%; */
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh; 
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)),url("/assets/bg-masthead1.jpg");
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("/assets/bg-masthead1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
}
.registerSection{
    /* padding: 15rem 0;
    margin-top:10rem; */
    margin-bottom: 5%;
}